.btn-action{
  float: right;

  .btn-right{
    margin-left: 20px;
  }
}

.th-action{
  text-align: right;
}

.high-height {
  min-height: 700px;
  
}

.db-border-right {
  border-right: 2px solid black;
}

.vertical-text {
  display: flex;
  align-items: center;
}

.dashboard-box {
  list-style: none;
}

.the-box {
  border: 2px solid blue;
  display: flex;
  align-items: center;
  height: 690px;
}

.full-img{
  width: 100%;
}

@media (min-width: 576px) {
  .modal-page {
    max-width: 1000px;
  }
}